
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.login-logo a,
.register-logo a {
    color: #276c85;
}

login-logo,
.register-logo {
    font-size: 13px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}

.search {
    color: #08383f85;
}

.btn-whetushop {
    color: #fff;
    background-color: #0f5e5b;
    border-color: rgba(0, 0, 0, 0.2);
}


.logo{
    padding: 0px;
}

